<div class="dashboard-container d-flex flex-column justify-content-center align-items-center vh-100">
  <h2 class="mb-4 text-light">User Management</h2>
  <div class="table-responsive w-75">
    <table class="table table-hover table-bordered shadow">
      <thead class="table-success">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Nickname</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.nickname }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
